body{
    background-color: aquamarine;
}
.search{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
    #allBoxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    width: 300px;
    height: auto;
    background-color: #80bdec;
    border: 1px solid #ccc;
    margin: 10px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.innerImg{
    width: 295px;
    height: 250px;  
}
.cart{
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.cart-player{
    width: auto;
    height: auto;
    border: 1px solid gray;
}
.details{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}